.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.btn-log{
  background-color: rgb(227, 118, 62);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
}

.btn-log:hover{
  background-color: rgb(255, 98, 0);
}

.LinkLog{
  text-decoration: none;
  color: white;
}

.linkRegister{
  color: rgb(227, 118, 62);
}

#SectionRegister{
  display: none;
}