.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.btn-log{
  background-color: rgb(227, 118, 62);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
}

.btn-log:hover{
  background-color: rgb(255, 98, 0);
}

.LinkLog{
  text-decoration: none;
  color: white;
}

.linkRegister{
  color: rgb(227, 118, 62);
  cursor: pointer;
}

.linkRegister:hover{
  color: rgb(255, 98, 0);
  text-decoration: underline;
}

#SectionRegister{
  display: none;
}
.form-outline .mb-4{
  margin-bottom: 5px;
}

.register-formulario{
  margin-top: 80px;
}

.register-formulario2{
  margin-top: 50px;
}


.inicio-sesio-text{
  font-size: 35px;
  margin-bottom: 20px;
  text-align: center;
  color:black;
}