/* Classes for Header */

  .Manuals{
    align-items: center;
    margin-left: 12%;
  }

  .oneProduct{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .oneManual{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card-body{
    min-width: 280px;
    max-width: 280px;
    min-height: 350px;
    max-height: 350px;
    margin-top: 10px;
  }

  .card-body-manual{
    min-width: 500px;
    max-width: 500px;
    min-height: 275px;
    max-height: 275px;
    margin-top: 10px;
  }

  .colorManual{
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #000000;
  }

.mb-1{
  text-align: center;
}

.url {
  margin-left: 120px;
}

.title {
margin: auto;
padding-left: 50px;

}

/*Clase boton agregar*/

.Agregar{
  background-color: rgb(227, 118, 62);
  text-decoration: none;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  color: white;
}

#botoncito{
  margin-right: 300px;
  padding: 5px;
  font-weight: 300;
  color: black;
  background-color: greenyellow;
}

#addForm input{
text-align: left;
float: right;
}

#addForm a{
  text-align: left;
  margin-left: -450px;
}

/*Clases para el buscador*/
.buscador, .TitleProduct{
  float: right;
  padding-right: 40px;
  padding-left: 20px;
  width: 350px;

}

.TitleProduct{
  float: left;
  padding-left: 100px;
  padding-top: 85px;
  color: black;
}
.buscador{
  padding-top: 90px;
}

.Search{
  border-color: black;
}

.botonF1{
  font-size: 25px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius:100%;/* Borde del boton */ 
	background-color: rgba(227, 118, 62, 1); /* Color de fondo */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: .3s;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	z-index: 99;
  outline:none;
  border-style: solid;
  border-color: black;
  width:60px;
  padding: none;
  height:60px;
}
.botonF1:hover {
	background-color: rgb(255, 169, 127); /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
  color: black
}
.logoimagen{
  width: 18%;
  height: 60%;
}
.logoletras{
  width: 75%;
  height: 70%;
}

.log{
  background-color: white;
  width: 20%;
  height: 8%;
  position: fixed;
  border-radius:15px;
  border:none;
}


  /*Classes for footer*/
  .footer-basic {
    padding:40px 0;
    background-color: rgba(33, 37, 40, 1);
    color: white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
  /*NavBar CSS*/
  
  
  /*Login CSS*/
  
  #contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 125px;
    width: 100%;
    height: 100%;
  }
  
  #central {
    max-width: 320px;
    width: 100%;
  }
  
  .titulo {
    font-size: 250%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #login {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
  }
  
  #login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
  }
  
  #login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
  }
  
  #login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
  }
  
  #login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
  }
  
  .pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
  }
  
  .pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
  }
  
  .pie-form a:hover {
    color: #0f4c75;
  }
  
  .inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
  }
  
  .inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
  }
  
  .inferior a:hover {
    color: #3282b8;
  }
  
  .Mostrar {
    display: none;
  }


.card-text-autor{
  text-align: left;
  font-size: 13px;
  margin-left: 10px;
  color: rgb(120, 120, 120);
}

.card-title-manual{
  margin-bottom: 5px;
  margin-left: 10px;
  text-align: left;
}

.card-title-product{
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 10px;
  text-align: center;
}

.card-text-product{
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.product-img{
  min-width: 200px;
  max-width: 200px;
  min-height: 170px;
  max-height: 170px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.card-text-precio{
  font-size: 20px;
  color: rgb(231, 139, 10);
  margin-top: 20%;
  margin-right: 13px;
  text-align: end; 
}

.manual-img{
  margin-left: 10px;
  margin-right: 10px;
  border-image: 1;
  border-radius: 8px;
  min-width: 200px;
  max-width: 200px;
  min-height: 170px;
  max-height: 170px;
  float: left;
  width:200px
}

.subtitulos-card-manual{
  text-align: left;
  margin-left: 8px;
}

.card-img{
  max-width: 275px;
  max-height: 275px;
  display:block;
  margin:auto;
}

.card-text-manual{
  text-align: left;
  font-size: 15px;
  padding-left: 10px;
  color: rgb(0, 0, 0);
}
/*MODALES DE AGREGAR*/

.addManual{
  color:rgb(0, 0, 0);
}

/*Modal Producto*/

.modal-product{
  color: #000000;
}

.modal-product-title{
  color: #000000;
}

.modal-product-precio{
  font-size: 25px;
  color: rgba(227, 118, 62, 1);
}

.modal-product-img{
  width: 60%;
  margin-left: 20%;
}

/*Modal Manual*/

.modal-manual{
  color: #000000;
}